CompileFlags:
  Add:
    # Workspace includes
    - -Iagent_control_pkg/include
    - -Iother_packages/formation_coordinator_pkg/include
    - -Iinstall/agent_control_pkg/include
    - -Iinstall/formation_coordinator_pkg/include
    - -Iinstall/my_custom_interfaces_pkg/include
    - -Ibuild/agent_control_pkg
    - -Ibuild/formation_coordinator_pkg
    # ROS 2 headers
    - -I/opt/ros/humble/include
    # Compiler flags
    - -std=c++17
  Remove:
    - -W*
Diagnostics:
  ClangTidy:
    Add: [performance-*, readability-*, modernize-*]
    Remove: [readability-magic-numbers, readability-identifier-length, readability-braces-around-statements, performance-avoid-endl, readability-function-cognitive-complexity]
Index:
  Background: Build
