CompileFlags:
  Add: 
    - -IC:/Users/ataka/OneDrive/Masaüstü/docs/multi-agent-formation-control-under-disturbances/agent_control_pkg/include
    - -IC:/Users/ataka/OneDrive/Masaüstü/docs/multi-agent-formation-control-under-disturbances/my_custom_interfaces_pkg/include
    - -IC:/Users/ataka/OneDrive/Masaüstü/docs/multi-agent-formation-control-under-disturbances/formation_coordinator_pkg/include
    - -IC:/vcpkg/installed/x64-windows/include
    - -IC:/vcpkg/installed/x64-windows/include/yaml-cpp
    - -std=c++17
    - -DYAML_CPP_STATIC_DEFINE
  Remove:
    - -W*
Diagnostics:
  ClangTidy:
    Add: [performance-*, readability-*, modernize-*]
    Remove: [readability-magic-numbers, readability-identifier-length, readability-braces-around-statements, performance-avoid-endl, readability-function-cognitive-complexity]
Index:
  Background: Build 