<?xml version="1.0"?>
<model>
  <name>finish_marker</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Formation Control Team</name>
    <email>demo@example.com</email>
  </author>
  <description>
    A red ring marker for the finish line.
  </description>
</model>
